<div class="slider fullwidthbanner-container roundedcorners">
            <!--
        Navigation Styles:
        
            data-navigationStyle="" theme default navigation
            
            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"
            
        Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"
            
        Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
    -->
            <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
                <ul class="hide">

                    <!-- SLIDE  -->
                    <li data-transition="parallaxtobottom" class="text-center" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="Get a Quote">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/slide-1.jpeg" alt="cover image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="overlay dark-4">
                            <!-- dark overlay [0 to 9 opacity] -->
                        </div>

                        <div class="tp-caption white_big skewfromleft tp-resizeme" data-x="390" data-y="150" data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
                            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                            Get a Quote
                        </div>

                        <div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="495" data-y="245" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none; text-align: center">
                            Elevate safety,<br/> With Speed and Style.
                        </div>

                        <div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

                        </div>

                        <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="493" data-y="410" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a class="btn btn-lg float-right" style="background-color: red" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" data-x="497" data-y="330" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a class="btn btn-default btn-lg float-right" href="/quotes">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="Residential Promotion">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/slide-2.jpeg" alt="cover image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="overlay dark-4">
                            <!-- dark overlay [0 to 9 opacity] -->
                        </div>

                        <div class="tp-caption white_big skewfromleft tp-resizeme" data-x="445" data-y="100" data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
                            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                            Residential Promotion
                        </div>

                        <div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="471" data-y="195" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                            If you need to make you residential building more accessible, <br /> our team is the best in this field.
                        </div>

                        <div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

                        </div>

                        <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="471" data-y="280" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a class="btn btn-lg" style="background-color: red" href="residential">MORE ABOUT THIS &nbsp; <i class="fa fa-angle-right"></i></a>
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Corporate Promotion">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/slide-3.jpeg" alt="cover image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="overlay dark-4">
                            <!-- dark overlay [0 to 9 opacity] -->
                        </div>

                        <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="40" data-y="100" data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                            Corporate Promotion
                        </div>

                        <div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="200" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                            style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                            If you need your office building to maximise efficiancy, <br/> our team is the best in this field.
                        </div>

                        <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="290" data-speed="500" data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
                            <a class="btn btn-lg" style="background-color: red" href="commercial">MORE ABOUT THIS &nbsp; <i class="fa fa-angle-right"></i></a>
                        </div>
                        <!-- (Bouton déplacé dans la première slide)
                        <div class="tp-caption sfb tp-resizeme" data-x="250" data-y="410" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a class="btn btn-default btn-lg" href="#">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                        </div>
                        -->

                    </li>

                </ul>

            </div>
        </div>
        <!-- /REVOLUTION SLIDER -->



        <hr class="m-0" />
        <!-- 1px line separator -->


        <!-- BUTTON CALLOUT -->
        <a href="#contact" class="btn btn-blue btn-xlg fs-20 fullwidth m-0 rad-0 p-40">
            <span class="fs-30">
					Did <strong>Rocket Elevators</strong> convince you? 
					<strong>Contact us &raquo;</strong>
				</span>
        </a>
        <!-- /BUTTON CALLOUT -->



        <!-- Services -->
        <section id="services">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <a class="image-hover filter" href="#work" data-filter="awards" data-plugin-options='{"type":"iframe"}' z>
                            <span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
                                <!-- (Don't want that)
                                 <i class="fa fa-vimeo-square"> (video icon) </i>
                                -->    
                               
								</span>
                            <img class="img-fluid" src="/assets/Elevator-Awards-2018.png" />
                        </a>

                        <h3 class="mt-10">Awards and Projects</h3>
                        <p>We, at Rocket Elevators, have made a name for ourselves amongst the elevator industry, with our numerous award winning years and projects.</p>
                        <a href="#work" data-filter="awards" class="btn btn-default filter">SEE MORE</a>
                    </div>

                    <div class="col-sm-4">
                        <a class="image-hover" href="/residential" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
                                <!-- (Don't want that)
                                <i class="fa fa-youtube-square">(video icon)</i>
                                -->    
                                
								</span>
                            <img class="img-fluid" src="/assets/residential.elevator.jpg" alt="img" />
                        </a>
                        <h3 class="mt-10" style="text-align: center">Residential Building Services</h3>
                        <p>We offer a variety of products for residential buidlings. You can choose within a wide selection of prices.</p>
                        <a href="/residential" class="btn btn-default">READ MORE</a>
                    </div>

                    <div class="col-sm-4">
                        <a class="image-hover" href="/commercial" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
                                        <!-- (Don't want that)
                                        <i class="fa fa-youtube-square">(video icon)</i>
                                        -->                                          
                                </span>
                            <img class="img-fluid" src="/assets/corporate.elevator.jpg" alt="img" />
                        </a>
                        <h3 class="mt-10">Corporate Building Services</h3>
                        <p>For corporate buildings, we also offer a wide selection of some of the fastes and most efficient elevators in the market.</p>
                        <a href="/commercial" class="btn btn-default">READ MORE</a>
                    </div>

                </div>

            </div>
        </section>
        <!-- /Services -->




        <!-- Parallax -->
        <section class="parallax parallax-1s smoothscroll" style="background-image: url('assets/since1976.jpeg');">
            <div class="overlay dark-5">
                <!-- dark overlay [1 to 9 opacity] -->
            </div>

            <div class="container">

                <div class="text-center">
                    <h2 class="fs-40 fw-300">Rocket Elevators since 1976</h2>
                    <a class="btn btn-default btn-lg" href="/quotes">GET A QUOTE<i class="fa fa-angle-right"></i></a>
                    <!-- (Plus besoin du bouton)
                    <a class="btn btn-lg" href="#contact" style="background-color: red"></i>CONTACT US<i class="fa fa-angle-right"></i></a>
                   -->
                </div>

            </div>
        </section>
        <!-- /Parallax -->


        <!-- PORTFOLIO -->
        <section id="work">
            <div class="container">

                <div class="heading-title heading-dotted text-center">
                    <h2>PROJECTS AND MODELS</h2>
                </div>

                <div class="text-center">
                    <ul class="nav nav-pills mix-filter mb-60">
                        <li data-filter="all" class="filter active"><a href="#">All</a></li>
                        <li data-filter="awards" class="filter"><a href="#">Awards</a></li>
                        <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
                        <li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
                    </ul>
                </div>

            </div>

            <div id="portfolio" class="portfolio-nogutter">

                <div class="row mix-grid">

                    <div class="col-md-3 col-sm-3 mix corporate">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

												
                                </a>
                                <!-- (Pas de besoin du detail) <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-6.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a> -->
                                <!-- details -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/3elevators.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>Super Capsule 3000</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Architecture</a></li>
                                    <li><a href="#">Design</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                    <div class="col-md-3 col-sm-3 mix residential">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

										
                                </a>

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-6.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->




                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/basic.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>Basic Model</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Audio</a></li>
                                    <li><a href="#">Design</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->

                    <div class="col-md-3 col-sm-3 mix awards">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-4.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/Awards3.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>2016 ELEVATOR AWARDS NOMENEE</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#work">Awards</a></li>
                                     <li><a href="#">Design</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-3 col-sm-3 mix awards">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-4.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/Elevator-Awards-2018.png" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>2018 ELEVATOR AWARDS NOMENEE</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#work">Awards</a></li>
                                     <li><a href="#">Design</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->

                    <div class="col-md-3 col-sm-3 mix corporate">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">
                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/vintage.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>VINTAGE 7.0</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Nature</a></li>
                                    <li><a href="#">Art</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                    <div class="col-md-3 col-sm-3 mix corporate">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/superman.jpeg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>THE SUPERMAN PROJECT</h3>
                                <ul class="list-inline categories m-0">

                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                    <div class="col-md-3 col-sm-3 mix corporate">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (pas deboin de detail pour l'instant)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->





                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/octopus.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>THE OCTOPUS PROJECT</h3>
                                <ul class="list-inline categories m-0">
                                    <!--  (Pas besoin de ces liens) <li><a href="#">Nature</a></li>
                                    <li><a href="#">Art</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->

                    <div class="col-md-3 col-sm-3 mix awards">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">


                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/Awards2.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>2017 ELEVATOR AWARD WINNER</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#work">Awards</a></li>
                                     <li><a href="#">Design</a></li>-->
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3 mix awards">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">


                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/Awards1.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>2015 ELEVATOR AWARD WINNER</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#work">Awards</a></li>
                                     <li><a href="#">Design</a></li>-->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                    <div class="col-md-3 col-sm-3 mix residential">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/miami.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>CAPSULE 2000</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Nature</a></li>
                                    <li><a href="#">Art</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                    <div class="col-md-3 col-sm-3 mix residential">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/fast.elevator.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>SpeedVator 3500</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Nature</a></li>
                                    <li><a href="#">Art</a></li> -->
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-3 col-sm-3 mix residential">
                        <!-- item -->

                        <div class="item-box">
                            <figure>
                                <span class="item-hover">
											<span class="overlay dark-5"></span>
                                <span class="inner">

                                <!-- (Pas besoin de détail)
                                <a class="ico-rounded" href="portfolio-single-slider.html">
                                    <span class="glyphicon glyphicon-option-horizontal fs-20"></span>
                                </a>
                                -->


                                </span>
                                </span>

                                <img class="img-fluid" src="/assets/accessibility.jpg" width="600" height="399" alt="">
                            </figure>

                            <div class="item-box-desc">
                                <h3>ACCESSIBILITY 2000</h3>
                                <ul class="list-inline categories m-0">
                                    <!-- (Pas besoin de liens) <li><a href="#">Nature</a></li>
                                    <li><a href="#">Art</a></li>-->
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /item -->


                </div>


            </div>
        </section>
        <!-- /PORTFOLIO -->




        <!-- Testimonials -->
        <section class="section-xs dark">
            <div class="container">

                <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 5000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
                    <div class="testimonial">
                        <figure>
                            <img class="rounded" src="/assets/ceo.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content p-0">
                            <p class="lead">It's all about customer's experience.</p>
                            <cite>
									Philippe Bouillon
									<span>Company's CEO.</span>
								</cite>
                        </div>
                    </div>
                    <div class="testimonial">
                        <figure>
                            <img class="rounded" src="/assets/myslef.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content p-0">
                            <p class="lead">Work hard for the boss, until your turn into the boss.</p>
                            <cite>
									Jabir Saidi
									<span>Company's Employee Of The Month.</span>
								</cite>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- /Testimonials -->





        <!-- News -->
        <section id="news">
            <div class="container">

                <div class="heading-title heading-dotted text-center">
                    <h2>Recent News</h2>
                </div>


                <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
                    <div>
                        <div>
                            <img class="img-fluid" src="/assets/news2.png" alt="">
                        </div>
                        <a href="https://www.prnewswire.com/news-releases/australia-elevator-and-escalator-market-2018-2022---high-demand-for-smart-elevators-and-escalators-300703378.html">    
                        <h4 class="text-left mt-20">Australia Elevator and Escalator Market 2018-2022</a></h4>
                        <p class="text-left">High Demand for Smart Elevators and Escalators.</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 29th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.thespec.com/news-story/8866693-broken-elevators-plague-residents-of-city-owned-social-housing-tower/" target="_blank">
                            <img class="img-fluid" src="/assets/news1.jpg" alt="">
                        </a>

                        <h4 class="text-left mt-20"><a href="blog-single-default.html">Broken elevators plague residents of city-owned social housing tower</a></h4>
                        <p class="text-left">Both elevators at 95 Hess St. were broken overnight Monday, but residents say...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 29th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 12
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://tribecacitizen.com/2018/08/28/nosy-neighbor-when-will-the-tribeca-bridge-elevators-be-fixed/" target="_blank">
                            <img class="img-fluid" src="/assets/news3.jpg" alt="">
                        </a>

                        <h4 class="text-left mt-20"><a href="blog-single-default.html">Nosy Neighbor: When Will the Tribeca Bridge Elevators Be Fixed?</a></h4>
                        <p class="text-left">I’m wondering about the elevators at the Tribeca Bridge, which have been out of service all summer...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 28th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 7
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.oregonbusiness.com/article/real-estate/item/18438-shafted" target="_blank">
                            <img class="img-fluid" src="/assets/news4.jpg" alt="">
                        </a>

                        <h4 class="text-left mt-20"><a href="blog-single-default.html">Shafted</a></h4>
                        <p class="text-left">As elevators fuel a skyward-looking building boom, safety concerns mount.</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 29th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 11
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.rd.com/culture/the-real-reason-elevators-have-those-small-holes/" target="_blank">
                            <img class="img-fluid" src="/assets/news5.jpg" alt="">
                        </a>
                        <h4 class="text-left mt-20"><a href="blog-single-default.html">The Real Reason Elevators Have Those Small Holes</a></h4>
                        <p class="text-left">That tiny hole you see on the elevator door? It might just save your life. Say the elevator you’re in stops at a floor and the doors don’t open...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 8th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 16
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.thehindu.com/life-and-style/homes-and-gardens/setting-up-an-elevator-at-home/article24716145.ece" target="_blank">
                            <img class="img-fluid" src="/assets/news6.jpg" alt="">
                        </a>
                        <h4 class="text-left mt-20"><a href="blog-single-default.html">Rise of the elevator</a></h4>
                        <p class="text-left">When Sampath Kumar was building his home at Marnamikatte in Mangalore, he was sure he wanted an elevator installed. And as the four-storeyed...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 17th Aug 2017
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 10
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://edmontonsun.com/news/world/power-blackout-hits-athens-dozens-trapped-in-lifts/wcm/45c2ede0-cab3-4f2b-b9ab-26e8bffe2521" target="_blank">
                            <img class="img-fluid" src="/assets/news7.jpg" alt="">
                        </a>
                        <h4 class="text-left mt-20"><a href="blog-single-default.html">Power blackout hits Athens, dozens trapped in elevators</a></h4>
                        <p class="text-left">ATHENS, Greece — A power blackout on Wednesday hit large sections of the greater Athens area, some for several hours, following a problem...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 22th Aug 2018
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 15
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.voanews.com/a/change-in-elevator-rules-frustrates-eiffel-tower-queue/4508003.html" target="_blank">
                            <img class="img-fluid" src="/assets/news8.jpg" alt="">
                        </a>
                        <h4 class="text-left mt-20"><a href="blog-single-default.html">
                            Change in Elevator Rules Frustrates Eiffel Tower Queue</a></h4>
                        <p class="text-left">FILE - Visitors queue to visit the Eiffel Tower in Paris, France, June 2, 2018. A rule change earlier this month has meant even longer...</p>
                        <ul class="text-left fs-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i> 31st Jul 2017
                            </li>
                            <li>
                                <a href="blog-single-default.html#comments">
                                    <i class="fa fa-comments"></i> 19
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- /News -->


 

        <!-- Clients -->
        <section id="clients" class="alternate">
            <div class="container">

                <div class="heading-title heading-dotted text-center">
                    <h2>Our Clients</h2>
                </div>

                <ul class="row clients-dotted list-inline">
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.bell.ca/Accueil?EXT=BRAND_PDL_Google_kwid=p6989250531&gclid=CjwKCAjwq57cBRBYEiwAdpx0vcDI19bGEc5VSBKzNDlJd4isufmSvWhuGItEsPBsHFP7LbGRZytaYxoC13kQAvD_BwE" target="_blank">
                            <img class="img-fluid" src="/assets/client1.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="http://www.fr.nordia.ca/" target="_blank">
                            <img class="img-fluid" src="/assets/client2.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="http://complexevision.com/" target="_blank">
                            <img class="img-fluid" src="/assets/client3.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="http://www.laberge.qc.ca/entreprise.asp?Lg=fr&AbrRegion=qc" target="_blank">
                            <img class="img-fluid" src="/assets/client4.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.verizon.com/home/verizonglobalhome/ghp_landing.aspx" target="_blank">
                            <img class="img-fluid" src="/assets/client5.jpg" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.dundermifflin.us/" target="_blank">
                            <img class="img-fluid" src="/assets/client6.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.staples.ca/fr/" target="_blank">
                            <img class="img-fluid" src="/assets/client7.jpg" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://good-music.com/" target="_blank">
                            <img class="img-fluid" src="/assets/client8.jpg" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://codeboxx.biz/" target="_blank">
                            <img class="img-fluid" src="/assets/client9.jpg" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.mcdonalds.com/ca/fr-ca/promotions/coffeemuffin.html" target="_blank">
                            <img class="img-fluid" src="/assets/client10.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.saq.com/content/SAQ/fr.html" target="_blank">
                            <img class="img-fluid" src="/assets/client11.png" alt="client" />
                        </a>
                    </li>
                    <li class="col-md-3 col-sm-3 col-6">
                        <a href="https://www.wawa.com/" target="_blank">
                            <img class="img-fluid" src="/assets/client12.jpg" alt="client" />
                        </a>
                    </li>
                </ul>

            </div>
        </section>
        <!-- /Clients -->




        <!-- CONTACT -->
        <section id="contact">
            <div class="container">

                <header class="text-center mb-60">
                    <h2>Contact Us</h2>
                    <p class="lead font-lato">Our team is dedicated to making your life easier</p>
                    <hr />
                </header>


                <div class="row">

                    <!-- FORM -->
                    <div class="col-md-8 col-sm-8">

                        <h3>We Should Get Back To You Within <strong>24 Business Hours</strong></h3>


                        <!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js
									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

                        <!-- Alert Success -->
                        <div id="alert_success" class="alert alert-success mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Thank You!</strong> Your message successfully sent!
                        </div>
                        <!-- /Alert Success -->


                        <!-- Alert Failed -->
                        <div id="alert_failed" class="alert alert-danger mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>[SMTP] Error!</strong> Internal server error!
                        </div>
                        <!-- /Alert Failed -->


                        <!-- Alert Mandatory -->
                        <div id="alert_mandatory" class="alert alert-danger mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                        </div>
                        <!-- /Alert Mandatory -->


                        <form id="lead" name="lead" action="/new_lead" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <input type="hidden" name="action" value="contact_send" />

                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="contact:name">Full Name *</label>
                                        <input required type="text" value="" class="form-control" name="contact[name]" id="contact:name" placeholder="Enter your full name">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="contact:email">E-mail Address *</label>
                                        <input required type="email" value="" class="form-control" name="contact[email]" id="contact:email" placeholder="Enter your email address">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="contact:phone">Phone</label>
                                        <input type="number" value="" class="form-control" name="contact[phone]" id="contact:phone" placeholder="Enter your phone number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="contact:name">Business Name *</label>
                                        <input required type="text" value="" class="form-control" name="contact[business]" id="contact:name" placeholder="Enter your company's name">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="contact:email">Project's Name *</label>
                                        <input required type="text" value="" class="form-control" name="contact[project]" id="contact:project" placeholder="Enter your project's name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="contact:subject">Project's brief description *</label>
                                        <input required type="text" value="" class="form-control" name="contact[description]" id="contact:subject" placeholder="Describe your project">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="contact_department">Your Department</label>
                                        <select class="form-control pointer" name="contact[department]">
                                            <option value="">--- Select ---</option>
                                            <option value="Marketing">Marketing</option>
                                            <option value="Webdesign">Webdesign</option>
                                            <option value="Architecture">Architecture</option>
										</select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contact:message">Message *</label>
                                        <textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message" placeholder="Ask your questions"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contact:attachment">File Attachment</label>

                                        <!-- custom file upload -->
                                        <input class="custom-file-upload" type="file" id="file" name="contact[attachment]" data-btn-text="Select a File" />
                                        <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /FORM -->


                    <!-- INFO -->
                    <div class="col-md-4 col-sm-4">

                        <h2>Visit Us</h2>

                        <!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10916.172716463778!2d-71.2796948!3d46.8428399!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x357d156c701453e3!2sRocket+Elevators!5e0!3m2!1sfr!2sca!4v1535724903560" width="400" height="450" frameborder="0"
                            style="border:0" allowfullscreen></iframe>
                        <hr />

                        <p>
                            <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Lebourgneuf Blvd, Québec City, <br> G2J 0C4, Canada</span>
                            <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-580-7055">418-580-7055</a></span>
                            <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:nicolas.genest@codeboxx.biz">nicolas.genest@codeboxx.biz</a></span>
                        </p>

                    </div>
                    <!-- /INFO -->

                </div>

            </div>
        </section>
        <!-- /CONTACT -->
  </body>