<section>
            <div class="container">

                <p class="lead" style="text-align:justify">We, at Rocket Elevators, offer a wide selection of residential building (or even house) elevators. <br><br> Our house products go from a simple accessibility elevator to go up one level in a house. We can offer a discount on a second accessibility
                    elevator for the same house. <br>We also have stylish traditionnal elevators to match with the rest of your housing decoration. <br><br> If you own an apartment building of any kind, we also have what you need and more. Our catalog
                    for residential buildings is more than satisfactory.
                </p>

                <div class="divider divider-center divider-color">
                    <!-- divider -->
                    <i class="fa fa-chevron-down"></i>
                </div>

                <!-- BORN TO BE A WINNER -->
                <article class="row">
                    <div class="col-md-6">
                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
                            <div>
                                <img class="img-fluid" src="assets/residential.elevator.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="assets/basic.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="assets/accessibility.jpg" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->
                    </div>
                    <div class="col-md-6">
                        <h3>Rocket Elevators : Three Areas of Expertise</h3>
                        <p> <strong>Style</strong> : Our designer team is built around some of Europes best elevator designers, and got us many awards for our stylish elevators.</p>

                        <p> <strong>Efficiency</strong> : Our installation team is fast and efficient, just like the product they will install for you.</p>

                        <p> <strong>Accessibility</strong> : Making accessibility elevators is proof of the fact that we are one of the best elevator company out there, as it shows that we have variety in our products. They are just as efficient as all of
                            our other models.</p>
                    </div>
                </article>
                <!-- /BORN TO BE A WINNER -->

            </div>
</section>
        
<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

    <div class="text-center">

        <h3>Join our community and start reaching for the stars</h3>
            <p class="fs-20">
                We care about our customers and our products.
            </p>

        <a href="quotes" class="btn btn-primary btn-lg btn-round mt-30">GET A QUOTE NOW</a>

    </div>

</div>