        <section>
            <div class="container">

                <p class="lead" style="text-align:justify">We, at Rocket Elevators, offer a wide selection of corporate or commercial building elevators. <br><br> Commercial and corporate buildings are truely where we separate ourselves from the rest of the competition, as not only do we have
                    an incredibly wide selection of elevator models we can offer you, but we also have a full team of designers that can design elevators that would be unique to you.
                </p>

                <div class="divider divider-center divider-color">
                    <!-- divider -->
                    <i class="fa fa-chevron-down"></i>
                </div>

                <!-- BORN TO BE A WINNER -->
                <article class="row">
                    <div class="col-md-6">
                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
                            <div>
                                <img class="img-fluid" src="assets/superman.jpeg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="assets/fast.elevator.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="assets/vintage.jpg" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->
                    </div>
                    <div class="col-md-6">
                        <h3>Rocket Elevators : Three Areas of Expertise</h3>
                        <p> <strong>Style</strong> : Our designer team is built around some of Europes best elevator designers, and got us many awards for our stylish elevators.</p>

                        <p> <strong>Efficiency</strong> : Our installation team is fast and efficient, just like the product they will install for you.</p>

                        <p> <strong>Speed</strong> : Our research team has put up together the technology to make our elevators reach some of the highest speeds on the market, while keeping it a friendly experience. They are fast, but you almost can't feel
                            it.
                        </p>
                    </div>
                </article>
                <!-- /BORN TO BE A WINNER -->

            </div>
        </section>

        <div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

            <div class="text-center">

                <h3>Join our community and start reaching for the stars</h3>
                <p class="fs-20">
                    We care about our customers and our products.
                </p>

                <a href="quotes" class="btn btn-primary btn-lg btn-round mt-30">GET A QUOTE NOW</a>

            </div>

        </div>