<h1 style="text-align:center; font: size 350px; margin-bottom: 5px; margin-top: 50px">Thank You For Ordering!</h1>
<h3 style="text-align:center; font: size 350px; font-weight: normal">We Will Get Back To You Within 24 Business Hours</h3>

<div class="result" style="margin: 60px">
    <a class="logo">
        <img src="assets/check.png" style="width: 80px; height:80px" />
    </a>
</div>